unless fontface-extends is defined
  fontface-extends = true

  @import 'arkui/stylus/iconic'

  iconic-font(name: 'arkpunctuation' , path: "/fonts/" , fontFamily: 'arkpunctuation')

  // Lora from Google Fonts.
  //
  // Copyright (c) 2011-2013, Cyreal (www.cyreal.org a@cyreal.org), with
  // Reserved Font Name 'Lora'
  // This Font Software is licensed under the SIL Open Font License, Version 1.1.
  // This license is copied below, and is also available with a FAQ at:
  // http://scripts.sil.org/OFL
  //
  //
  // -----------------------------------------------------------
  // SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
  // -----------------------------------------------------------

  @font-face
    font-family: 'Lora'
    font-style: normal
    font-weight: 400
    src: local('Lora'), local('Lora-Regular'), url(/fonts/Lora-Regular.woff) format('woff')

  @font-face
    font-family: 'Lora'
    font-style: normal
    font-weight: 700
    src: local('Lora Bold'), local('Lora-Bold'), url(/fonts/Lora-Bold.woff) format('woff')

  @font-face
    font-family: 'Lora'
    font-style: italic
    font-weight: 400
    src: local('Lora Italic'), local('Lora-Italic'), url(/fonts/Lora-Italic.woff) format('woff')

  @font-face
    font-family: 'Lora'
    font-style: italic
    font-weight: 700
    src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(/fonts/Lora-BoldItalic.woff) format('woff')


  // Custom Lora, for italic font
  @font-face
    font-family: 'LoraItalic'
    font-style: normal
    font-weight: 400
    src: local('Lora Italic'), local('Lora-Italic'), url(/fonts/Lora-Italic.woff) format('woff')

  @font-face
    font-family: 'LoraItalic'
    font-style: normal
    font-weight: 700
    src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(/fonts/Lora-BoldItalic.woff) format('woff')

  @font-face
    font-family: 'LoraItalic'
    font-style: italic
    font-weight: 400
    src: local('Lora Italic'), local('Lora-Italic'), url(/fonts/Lora-Italic.woff) format('woff')

  @font-face
    font-family: 'LoraItalic'
    font-style: italic
    font-weight: 700
    src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(/fonts/Lora-BoldItalic.woff) format('woff')

