@font-face {
  font-family: 'arkicons';
  src: url("/fonts/arkpunctuation.eot");
  src: url("/fonts/arkpunctuation.eot?#iefix") format('embedded-opentype'), url("/fonts/arkpunctuation.woff") format('woff'), url("/fonts/arkpunctuation.ttf") format('truetype'), url("/fonts/arkpunctuation.svg#arkicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'arkicons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url("/fonts/Lora-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url("/fonts/Lora-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url("/fonts/Lora-Italic.woff") format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url("/fonts/Lora-BoldItalic.woff") format('woff');
}
@font-face {
  font-family: 'LoraItalic';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url("/fonts/Lora-Italic.woff") format('woff');
}
@font-face {
  font-family: 'LoraItalic';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url("/fonts/Lora-BoldItalic.woff") format('woff');
}
@font-face {
  font-family: 'LoraItalic';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url("/fonts/Lora-Italic.woff") format('woff');
}
@font-face {
  font-family: 'LoraItalic';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url("/fonts/Lora-BoldItalic.woff") format('woff');
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
fieldset {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
th,
caption {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
a:hover,
a:active {
  outline: 0;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
input {
  vertical-align: middle;
}
input,
button,
textarea {
  font-size: 12px;
  outline: none;
  resize: none;
}
input,
button {
  *overflow: visible;
  line-height: normal;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 18px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.table th {
  font-size: 13px;
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #ddd;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #ddd;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #e6e6dd;
}
body {
  font: 18px/1.5 'arkpunctuation', "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 200;
  color: rgba(0,0,0,0.8);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body blockquote,
body i,
body em,
body figcaption {
  font-family: 'LoraItalic', "Georgia Italic", "Georgia-Italic", STKaiti, "AR PL UKai", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW-Kai";
}
body strong,
body b,
body dt {
  font-weight: 700;
}
body code {
  font-family: Consolas, "Liberation Mono", "BitStream Vera Sans Mono", Courier, monospace;
  margin: 0 0.23em;
}
body h1 {
  font-family: 'arkpunctuation', "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 200;
}
body h1 a {
  text-decoration: none;
}
body h2 {
  font-family: 'arkpunctuation', "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 200;
}
body h2 a {
  text-decoration: none;
}
body h3 {
  font-family: 'arkpunctuation', "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 200;
}
body h3 a {
  text-decoration: none;
}
body h4 {
  font-family: 'arkpunctuation', "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 200;
}
body h4 a {
  text-decoration: none;
}
body h5 {
  font-family: 'arkpunctuation', "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 200;
}
body h5 a {
  text-decoration: none;
}
body h6 {
  font-family: 'arkpunctuation', "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 200;
}
body h6 a {
  text-decoration: none;
}
body h7 {
  font-family: 'arkpunctuation', "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
  font-weight: 200;
}
body h7 a {
  text-decoration: none;
}
body .underline {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.75, rgba(0,0,0,0)), color-stop(0.75, rgba(0,0,0,0.8)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff;
  background-image: linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 18px;
}
body pre code {
  margin: 0;
}
body a {
  text-decoration: none;
  color: #000;
}
article,
.article {
  line-height: 2;
  font-family: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
  -webkit-hyphens: ;
  -moz-hyphens: ;
  -ms-hyphens: ;
  hyphens: ;
}
article p,
.article p,
article pre,
.article pre,
article ul,
.article ul,
article ol,
.article ol,
article blockquote,
.article blockquote,
article table,
.article table {
  margin-bottom: 1em;
}
article h1,
.article h1 {
  margin-bottom: 0.23em;
  margin-top: 1.23em;
}
article h2,
.article h2 {
  margin-bottom: 0.23em;
  margin-top: 1.23em;
}
article h3,
.article h3 {
  margin-bottom: 0.23em;
  margin-top: 1.23em;
}
article h4,
.article h4 {
  margin-bottom: 0.23em;
  margin-top: 1.23em;
}
article h5,
.article h5 {
  margin-bottom: 0.23em;
  margin-top: 1.23em;
}
article h6,
.article h6 {
  margin-bottom: 0.23em;
  margin-top: 1.23em;
}
article h7,
.article h7 {
  margin-bottom: 0.23em;
  margin-top: 1.23em;
}
article a,
.article a {
  font-family: 'LoraItalic', "Georgia Italic", "Georgia-Italic", STKaiti, "AR PL UKai", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW-Kai";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.75, rgba(0,0,0,0)), color-stop(0.75, rgba(0,0,0,0.8)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff;
  background-image: linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 18px;
}
article a,
.article a {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
article a:hover,
.article a:hover,
article a:active,
.article a:active {
  opacity: 1;
  filter: alpha(opacity=100);
}
article em,
.article em,
article i,
.article i {
  margin: 0 0.23em;
}
article hr,
.article hr {
  margin: 100px;
  border: none;
  border-bottom: 1px solid #ccc;
}
article h1,
.article h1 {
  font-weight: 500;
}
article h1 a,
.article h1 a {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
}
article h2,
.article h2 {
  font-weight: 500;
}
article h2 a,
.article h2 a {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
}
article h3,
.article h3 {
  font-weight: 500;
}
article h3 a,
.article h3 a {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
}
article h4,
.article h4 {
  font-weight: 500;
}
article h4 a,
.article h4 a {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
}
article h5,
.article h5 {
  font-weight: 500;
}
article h5 a,
.article h5 a {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
}
article h6,
.article h6 {
  font-weight: 500;
}
article h6 a,
.article h6 a {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
}
article h7,
.article h7 {
  font-weight: 500;
}
article h7 a,
.article h7 a {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
}
article h1,
.article h1 {
  font-size: 24px;
}
article h1 a,
.article h1 a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.75, rgba(0,0,0,0)), color-stop(0.75, rgba(0,0,0,0.8)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff;
  background-image: linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-repeat: repeat-x;
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  background-position: 0 23px;
}
article ul,
.article ul {
  list-style: circle;
}
article ol,
.article ol {
  list-style: decimal;
}
article ul,
.article ul,
article ol,
.article ol {
  list-style-position: inside;
  margin-left: 1em;
}
article blockquote,
.article blockquote {
  border-left: 3px solid #eee;
  padding-left: 1em;
  padding-top: 1em;
  overflow-x: auto;
}
article pre,
.article pre {
  background: #f5f5f5;
  padding: 0.8em 1.2em;
  line-height: 1.5;
  overflow-x: auto;
}
article img,
.article img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
article figcaption,
.article figcaption {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  font-family: 'LoraItalic', "Georgia Italic", "Georgia-Italic", STKaiti, "AR PL UKai", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW-Kai";
}
article table,
.article table {
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
}
article table td,
.article table td,
article table th,
.article table th {
  padding: 0 0.3em;
}
article table thead,
.article table thead,
article table th,
.article table th {
  font-weight: 700;
}
article table thead,
.article table thead {
  border-bottom: 1px solid #ddd;
}
