@import 'arkui/stylus/mixins/typography'

$ItalicFont = "Georgia Italic", "Georgia-Italic"
$KaiCnFont = STKaiti, "AR PL UKai", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW-Kai"
$KaiFont = $ItalicFont, $KaiCnFont

// Typo
$SansFont = 'Lora', Georgia, Cambria, "Times New Roman", Times, serif
$SerifSansFont = $EnFont $HeiFont
$ItalicFont = 'LoraItalic', $KaiFont

$thinWeight = 200
$bolderWeight = 500
$boldWeight = 700

wrapperWidth = 700px
